.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: .5rem;
  text-decoration: none;
  padding-block: .75rem;
  overflow: hidden;
}

.btn[aria-label] {
  position: relative;
  &::after {
    content: attr(aria-label);
    color: var(--text-title);
    font-weight: var(--fw-bold);
    font-size: var(--button);
    position: relative;
    z-index: 1;
  }
}

.btn-primary {
  background-color: var(--pink-dark); 
  position: relative;
  &:hover::before {
    scale: 1;
  }
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 80%;

    background: var(--pink-base);
    position: absolute;
    z-index: 0;
    scale: 0;
    transition: scale 500ms;
  }
}

.btn-secondary {
  background-color: var(--blue-dark);
  &:hover::before {
    scale: 1;
  }
  &::before {
    content: "";
    width: 210px;
    height: 210px;
    border-radius: 80%;

    background: var(--blue-mid);
    position: absolute;
    z-index: 0;
    scale: 0;
    transition: scale 500ms;
  }
}


.btn-md {
  max-width: 5.56rem;
  max-height: 2.5rem;
  padding-inline: 1.25rem;
}

.btn-lg {
  max-width: 13rem;
}