a {
  font-family: var(--ff-raleway);
  font-size: var(--link);
  font-size: var(--fs-medium);
  color: var(--blue-light);
  text-decoration: none;
  &:hover {
    color: var(--text-body);
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & a {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5rem;
    position: relative;
    &:hover::before {
      scale: 1;
    }
    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
    &::before {
      content: "";
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background: var(--shape-stroke);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      scale: 0;
      transition: scale 200ms;
    }
  }
  & a:hover {
    & svg path {
      stroke: var(--text-body);
      fill: var(--text-body);
    }
  }
}