.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

.px-md {
  padding-inline: var(--px-md);
}

.px-card {
  padding-inline: var(--px-card);
}

.py-card {
  padding-block: var(--py-card);
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.blur {
  width: 100%;
  height: 100%;
  background-color: var(--pink-low);
  filter: blur(600px);
  position: absolute;
  z-index: -1;
  inset: 0;
}

.nobr { white-space: nowrap }

@media (width >= 90em) {
  .desktop-only {
    display: initial;
  }
  .mobile-only {
    display: none;
  }
}